.interest {
  padding: 5% 5%;
  border-bottom: 0.063rem solid #000;
}

.progress-bar {
  background-color: #386641;
  height: 0.313rem;
}

.progress {
  background-color: black;
  height: 0.313rem;
  margin: 1rem 0;
}

.field {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 0.625rem;
  letter-spacing: -0.02rem;
  color: #386641;
}

.field_value {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 0.625rem;
  letter-spacing: -0.031rem;
  color: #386641;
}
