.title {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 1.625rem;
  letter-spacing: -0.031rem;
  color: #666666;
  padding: 5% 5%;
}

.link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 2.125rem;
  line-height: 3.5rem;
  letter-spacing: -0.006rem;
  color: #386641;
  padding-top: 10%;
}

.button {
  padding-top: 10%;
  padding-bottom: 10%;
}

.add {
  margin-left: 3.125rem;
}
