body {
  height: 100%;
}

.hero {
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #ffff;
  padding-top: 1rem;
}

.hero img {
  width: 100%;
}
