@import "./../../style/variables";
@import "./../../style/mixins";

.hero {
  background-color: $light-color;
}

.hero_contant {
  margin-top: 10%;

  @include for-tablet-landscape-up {
    margin-top: 50%;
  }

  .hero_title {
    margin-bottom: 1.875rem;
    h1 {
      font-family: sans-serif;
      color: $primary-color;
      font-size: 3rem;
      text-align: justify;
      text-justify: inter-word;
    }
  }
  .hero_text {
    margin-bottom: 2.52rem;
    .hero_text_p {
      font-family: Roboto;
      font-style: normal;
      font-weight: normal;
      font-size: 1.12rem;
      text-align: justify;
      text-justify: inter-word;

      color: $gray-secondary-color;
    }
  }
  .hero_search {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 4ch;
    overflow: hidden;
    box-shadow: 0rem 0.62rem 1.25rem rgba(0, 0, 0, 0.2);
    button {
      background-color: $primary-color;
      padding: 0.75rem 2.5rem;
      font-size: 0.875rem;
      color: #ffffff;
      border-radius: 4ch;
      border: none;
    }
    input {
      width: 100%;
      border: none;
      outline: 0;
      background: transparent;
      padding: 0rem 1.875rem;
    }
  }
}
