@import "./../../style/variables.scss";
@import "./../../style/mixin.scss";

.form_section_wrapper {
  background-color: $light-color;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;

  .top_section {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 1rem 0;
  }

  .form_Section {
    margin: 1rem 0;
    width: 100%;
    .inputs {
      margin: 1.25rem 0;
      background-color: #fff;
      padding: 1rem 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      box-shadow: 0rem 2.5rem 5rem rgba(0, 0, 0, 0.1);
      border-radius: 0.3125rem;
      .input_group {
        position: relative;
        width: 100%;
        margin: 1rem 0;
        .input {
          width: 100%;
          background: #ffffff;
          border: 0.0625rem solid #d1dbe3;
          border-radius: 0.3125rem;
          padding: 1rem 0.7rem;
          font-weight: 300;
          font-size: 0.875rem;
          color: $gray-secondary-color;
        }
        .input:focus {
          outline: none;
        }
        .auth_input_wrapper__error {
          margin-left: 1rem;
          position: absolute;
          left: 0;
          top: 105%;
          bottom: -1rem;
          color: $primary-color;
          font-size: 0.6rem;
        }

        .input::-webkit-input-placeholder {
          /* WebKit, Blink, Edge */
          color: #9dafbd;
        }
        .input:-moz-placeholder {
          /* Mozilla Firefox 4 to 18 */
          color: #9dafbd;
          opacity: 1;
        }
        .input::-moz-placeholder {
          /* Mozilla Firefox 19+ */
          color: #9dafbd;
          opacity: 1;
        }
        .input:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: #9dafbd;
        }
      }
    }
    .form_buttons {
      margin-top: 2rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .submit_button {
        background: $primary-color;
        box-shadow: 0rem 0.625rem 1.25rem rgba(0, 0, 0, 0.2);
        border-radius: 0.3125rem;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
        text-align: center;
        padding: 0.6rem 3rem;
        color: #ffffff;
        border: none;
      }
      .navigate_button {
        border: none;
        color: $primary-color;
        background-color: transparent;
        font-weight: 500;
        font-size: 0.875rem;
        line-height: 1rem;
      }
    }
  }
}
