@import "./../../style/variables";

.hero {
  background-color: $light-color;
}

.hero_contant {
  margin-top: 50%;

  .hero_title {
    margin-bottom: 1.875rem;
    h1 {
      font-family: sans-serif;
      color: $primary-color;
      font-size: 3rem;
    }
  }
  .hero_text {
    margin-bottom: 2.52rem;
    p {
      color: $secondary-color;
      font-size: 1.125rem;
    }
  }
  .hero_search {
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
    border-radius: 4ch;
    overflow: hidden;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    button {
      background-color: $primary-color;
      padding: 0.75rem 2.5rem;
      font-size: 0.875rem;
      color: #ffffff;
      border-radius: 4ch;
      border: none;
    }
    input {
      width: 100%;
      border: none;
      outline: 0;
      background: transparent;
      padding: 0rem 1.875rem;
    }
  }
}
