@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.section_title {
  margin-top: 5.625rem;
  // margin-left: 25.625rem;
  text-align: center;
}

.search_bar {
  // height: 2.5rem;
  // width: 29.5rem;
  // margin-left: 25rem;
  margin-top: 1.875rem;
  margin-bottom: 3rem;
}
