@import "./../../style/variables";
@import "./../../style/mixins";

.nav__bar {
  color: #ffffff !important;
}

.nav__brand {
  color: $primary-color !important;
  font-size: 1.875rem !important;
  font-family: $logo-font;
  cursor: pointer;
}
.nav__btn {
  margin-left: 4rem;
  padding-right: 2rem !important;
  padding-left: 2rem !important;
  background-color: $primary-color !important;
  border: none !important;
}
.avatar_nav_auth {
  margin-left: 4rem !important;
}
.links_wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.nav__items {
  display: flex;
  align-items: flex-end;
  margin-top: 1rem;
  @include for-tablet-landscape-up {
    align-items: center;
    margin-top: 0rem;
  }
  .nav-link {
    display: flex;
    flex-direction: column;

    align-items: center;
  }
}

.drop_down_status_link {
  font-size: 1rem;
  text-decoration: none;
  color: #666;
}

.active {
  color: $primary-color !important;
  .dot {
    position: absolute;
    height: 0.3rem;
    width: 0.3rem;
    bottom: 0.8rem;
    background-color: $primary-color;
    border-radius: 50% !important;
  }
}
