$primary-color: #386641;
$secondary-color: #666666;
$light-color: #f8f8f6;
$secondary-color: #f8f8f6;
$gray-base-color: #000;
$gray-secondary-color: #666;
$primary-font: "Roboto", sans-serif;
$logo-font: Roboto, sans-serif;
$logo-font: "Yellowtail", cursive;
$light-color: #f8f8f6;
