.google {
  background: #fbbc05;
  opacity: 1;
}
.third_party_button_auh {
  box-shadow: 0 1.25rem 1.25rem rgba(0, 0, 0, 0.2);
  border-radius: 0.3125rem;
  border: none;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #fff;
  padding: 0.7rem 1.2rem;
}
