.app {
    background-color: #666;

   
    .app__text {
      color: #fff;
      text-transform: uppercase;
    }
  }
  .buttons {
    display: flex;
    // flex-direction: column;
    flex-basis: auto;
    .buttons__wrapper {
      margin: 1rem;
      display: flex;
      flex-direction: column;
      div {
        margin: 1rem;
        button {
          margin: 1rem;
        }
      }
    }
  }