.app {
  background-color: #666;
  padding: 20px;
  margin: 30px 0;
  border: 1px solid red;
  .app__text {
    color: #fff;
    text-transform: uppercase;
  }
}
.buttons {
  display: flex;
  // flex-direction: column;
  flex-basis: auto;
  .buttons__wrapper {
    margin: 1rem;
    display: flex;
    flex-direction: column;
    div {
      margin: 1rem;
      button {
        margin: 1rem;
      }
    }
  }
}
