@import "./../../style/variables";
@import "./../../style/mixins";

.university_details {
  padding: 1rem 2rem;
  .university_details__logo {
    display: flex;
    @include for-phone-only {
      flex-direction: column;
    }
    .university_logo {
      max-width: 15rem;
      min-width: 12rem;
    }
    align-items: center;
    justify-content: flex-start;
    .university_details__info {
      padding: 1rem 2rem;
      .university_name {
        font-style: normal;
        font-weight: normal;
        font-size: 1.25rem;
        line-height: 1.625rem;
        color: $primary-color;
      }
      .info_url {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 0.875rem;
        line-height: 1rem;
        color: #9dafbd;
      }
      .underline {
        text-decoration-line: underline;
      }
    }
  }
  .university_details__data {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 1rem 0 2rem 0;
    @include for-tablet-landscape-up {
      flex-direction: row;
    }
    flex: 1;
    .university_data {
      width: 100%;
      margin: 1rem auto;
      white-space: nowrap;
      @include for-tablet-landscape-up {
        margin: 0 1rem;
      }
      border: 0.0625rem solid #386641;
      box-sizing: border-box;
      border-radius: 0.3125;
      padding: 0.625rem 0.75rem;
      min-height: 2.5rem;
    }
    .application {
      cursor: pointer;
    }
    .application:hover {
      color: $primary-color;
      background-color: #fff;
      border: 0.0625rem solid #fff;
      box-shadow: 0rem 0.625rem 1.25rem rgb(0 0 0 / 10%);
      border-radius: 0.3125rem;
    }
    .applied {
      color: #fff;
      background-color: $primary-color;
      border: 0.0625rem solid #fff;
      box-shadow: 0rem 0.625rem 1.25rem rgb(0 0 0 / 10%);
      border-radius: 0.3125rem;
    }
  }
}
